<div class="controlbar">
    <div class="element" (click)="getButton(1)">
        <img src="../../assets/icons/temp.svg">
        <p>temperature</p> 
    </div>

    <div class="element" (click)="getButton(2)">
        <img src="../../assets/icons/humidity.svg">
        <p>humidity</p> 
    </div>

    <div class="element" (click)="getButton(3)">
        <img src="../../assets/icons/rain.svg">
        <p>rain</p> 
    </div>

    <div class="element" (click)="getButton(4)">
        <img src="../../assets/icons/wind.svg">
        <p>wind</p> 
    </div>

    <div class="element" (click)="getButton(5)">
        <img src="../../assets/icons/uve.svg">
        <p>UVE</p> 
    </div>

    <div class="element" (click)="getButton(6)">
        <img src="../../assets/icons/barometer.svg">
        <p>pressure</p> 
    </div>
</div>

<app-detailinfo class="detailinfo"
    [hourlyData]="variableData"
    [buttonId]="buttonId"
></app-detailinfo>
