<section>
<input type="text" [(ngModel)]="city" (change)="location()">   
    <app-info class="app-info"
        [ubication]="city"
        [currentForecastPackage]="currentForecastPackage"
    ></app-info>

    <app-timeline class="app-timeline"
    [currentForecastPackage]="currentForecastPackage"
    [historicalPackage]="historicalPackage"
    ></app-timeline>
</section>
<section>
    <app-controlbar class="controlbar"
      [currentForecastPackage]="currentForecastPackage"
    ></app-controlbar>
</section> 