:host{
    display: block;
    position: relative;
}
                /* general */
h2, h3, p{
    color: #fff;   
    font-family: Inter;
    font-weight: 200;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}
img{
    width: 6rem;
}

                /* container  */
.container{
    height: 90%;
    margin-left: 1rem;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

                /* lowbar */
.lowbar{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

@media(max-width:570px){
    :host{
    margin-bottom: 1rem;
    }
    .lowbar{
        font-size: .8rem;
    }
    .container{
        margin-bottom: 1rem;
    }
}
